<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>The follow project's resource ID has been assigned. Please start the following tasks:</p>
    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-w-100%" border="1" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th>ISO Project Number</th>
            <th>Project Name</th>
            <th>Resource ID</th>
        </tr>
        <tr>
            <td>{{ isoNumber }}</td>
            <td>{{ projectName }}</td>
            <td>{{ resourceId }}</td>
        </tr>
    </table>
    <p>
    <b>Resource ID Assignment Action Items (If applicable)</b>
        <ul>
            <li>B1- Update SiteInfo and TopoMap (If applicable) Upload into RIMS</li>
            <li>Finish sending out all B3 items that have Resource IDs</li>
            <li>Control Protection attachment A with Resource ID.</li>
            <li>24Hr Contact updated with Resource ID.</li>
            <li>FinalGRDT updated with Resource ID.</li>
            <li>FinalGRDT Explanation (inverter setting report)</li>
            <li>SC Letters updated with Resource IDs.</li>
        </ul>
</p>
</body>
</html>