<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 10px 0;">
                <table align="center" border="0" cellpadding="20" cellspacing="20" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="00AEE8" style="padding: 40px 0 20px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                            <h3>TCA/RM, Access, Change Request Links</h3>
                        </td>
                    </tr>
                    <tr>
                        <td width="500" cellpadding="20">
                            <p>Click on the appropriate link below to submit a request to GridSecurity without logging into the GridSecurity Customer Portal. </p>
                            <br /><p>Please note that these are unique links tied to your email and will expire in 24 hours. If you need to refresh your links, simply send another email to requests@gridsec.com. </p>
                            <br /><p>If someone else in your organization needs to submit a request, please do not share these links with them but rather have them send an email to request@gridsec.com. If you need to submit a request on behalf of someone else, use the below links and simply put their name, email, and phone in the request form.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 30px 40px 30px 40px;">
                            <table border="0"  cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="240" align="center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                            <tr>
                                                <td>
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" style="border-radius: 10px;"
                                                                bgcolor="green"><a href="https://portal.gridsec.com/public/request?link={{ tca_approval }}"
                                                                    target="_blank"
                                                                    style="font-size: 28px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 14px 30px; border: 0px solid #e9703e; display: inline-block;">TCA/RM</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="240" align="center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                            <tr>
                                                <td>
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" style="border-radius: 10px;"
                                                                bgcolor="green"><a href="https://portal.gridsec.com/public/request?link={{ access_approval }}"
                                                                    target="_blank"
                                                                    style="font-size: 28px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 14px 30px; border: 0px solid #e9703e; display: inline-block;">Access</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="240" align="center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                            <tr>
                                                <td>
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" style="border-radius: 10px;"
                                                                bgcolor="green"><a href="https://portal.gridsec.com/public/request?link={{ change_approval }}"
                                                                    target="_blank"
                                                                    style="font-size: 28px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 3px; padding: 14px 30px; border: 0px solid #e9703e; display: inline-block;">Change</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
</body>

</html>